
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


#particles-js {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100;
    z-index: -1;
    overflow: hidden;
    margin: 0;
}

.name-text {
  font-family: 'Indie Flower', 'Arial', cursive;
  font-size: 4rem;
}

.code-text {
  font-family: Courier, monospace;
}