#particles-js {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100;
    z-index: -1;
    overflow: hidden;
    margin: 0;
}

.img-profile {
  width: 100%;
  max-width: 150px;
}

a {
  text-decoration: none;
}